.App {
  text-align: center;
  font-family: "HansomFYW01";
  width: 100% !important;
  max-width: 1020px !important;
  margin: auto !important;
  box-shadow: 0px 2px 2px 1px #ddd !important
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
